<%- include("partials/header.ejs") %>

<form action="/weather" method="get">
    <button class="back-button upper-left-button"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
    </svg>
    </button>
</form>


<div class="aqi-container">
<div class="weather-container top-margin">


    <div class="air-container"> 
        <% const aqi = air_quality.main.aqi;
            var aqi_value = "";
            var classColor = "";

            switch (aqi){
                case 1: 
                    aqi_value = "Good";
                    classColor = "aqi-good";
                    break;
                
                case 2: 
                    aqi_value = "Fair";
                    classColor = "aqi-fair";
                    break;

                case 3: 
                    aqi_value = "Moderate";
                    classColor = "aqi-moderate";
                    break;
                
                case 4: 
                    aqi_value = "Poor";
                    classColor = "aqi-poor";
                    break;
                
                default:
                    aqi_value = "Very Poor"
                    classColor = "aqi-very-poor";

            }
            %>
    <h2>Air Quality: </h2>
    <div class="same-row"><h2 id="aqi"> <%= aqi_value %></h2>
        <div class="circle <%= classColor %> "></div>
   </div>

   </div>
   </div>

   <div class="weather-container gradient ">
    <h2 class="pollutants-title">Air Pollutants</h2>

    <div class="data-container air-container">
        <div class="pollutants-name">
            <h3>CO</h3>
            <p>(Carbon Monoxide)</p>
        </div>
        <div class="pollutants-value">
            <h3>Good</h3>
            <p><%= air_quality.components.co %> μg/m<sup>3</sup></p>
        </div>
    </div>

     <div class="data-container air-container">
        <div class="pollutants-name">
            <h3>O<sub>3</sub></h3>
            <p>(Ozone)</p>
        </div>
        <div class="pollutants-value">
            <h3>Good</h3>
            <p><%= air_quality.components.o3 %> μg/m<sup>3</sup></p>
        </div>
    </div>

     <div class="data-container air-container">
        <div class="pollutants-name">
            <h3>NO<sub>2</sub></h3>
            <p>(Nitrogen Dioxide)</p>
        </div>
        <div class="pollutants-value">
            <h3>Good</h3>
            <p><%= air_quality.components.no2 %> μg/m<sup>3</sup></p>
        </div>
    </div>

    <div class="data-container air-container">
        <div class="pollutants-name">
            <h3>PM<sub>2.5</sub></h3>
            <p>(Fine particles matter)</p>
        </div>
        <div class="pollutants-value">

            <% var AQIPM2_5 ='';
                var PM2_5Conc = air_quality.components.pm2_5;

                if (PM2_5Conc <= 12) AQIPM2_5 = "Good";
                else if (PM2_5Conc <= 35.4) AQIPM2_5 = "Moderate";
                else if (PM2_5Conc <= 55.4) AQIPM2_5 = "Unhealthy For Sensitive Groups";
                else if (PM2_5Conc <= 150.4) AQIPM2_5 = "Unhealthy";
                else if (PM2_5Conc <= 250.4) AQIPM2_5 = "Very Unhealthy";
                else AQIPM2_5 = "Hazardous";
                %>
            <h3><%= AQIPM2_5 %></h3>
            <p><%= PM2_5Conc %> μg/m<sup>3</sup></p>
        </div>
    </div>

    
    <div class="data-container air-container">
        <div class="pollutants-name">
            <h3>PM<sub>10</sub></h3>
            <p>(Coarse particulate matter)</p>
        </div>
        <div class="pollutants-value">

               <% var AQIPM10 ='';
                var PM10Conc = air_quality.components.pm10;

                if (PM10Conc <= 54) AQIPM10 = "Good";
                else if (PM10Conc <= 154) AQIPM10 = "Moderate";
                else if (PM10Conc <= 254) AQIPM10 = "Unhealthy For Sensitive Groups";
                else if (PM10Conc <= 354) AQIPM10 = "Unhealthy";
                else if (PM10Conc <= 424) AQIPM10 = "Very Unhealthy";
                else AQIPM10 = "Hazardous";
                %>

            <h3><%= AQIPM10 %> </h3>
            <p><%= air_quality.components.pm10 %> μg/m<sup>3</sup></p>
        </div>
    </div>

    
    <div class="data-container air-container">
        <div class="pollutants-name">
            <h3>SO<sub>2</sub></h3>
            <p>(Sulphur Dioxide)</p>
        </div>
        <div class="pollutants-value">
            <h3>Good</h3>
            <p><%= air_quality.components.so2 %> μg/m<sup>3</sup></p>
        </div>
    </div>


</div>
</div>
</div>